body {
  font-family: Arial, sans-serif;
  background: #f5e9fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3, 125px);
  gap: 5px;
  margin-top: 15px;
}

.celda {
  font-size: 2em;
  text-align: center;
  border: 2px solid #333;
  background-color: white;
  cursor: pointer;
}

.celda:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.info, .acciones {
  margin-top: 15px;
  text-align: center;
}

.redondiado {
  --color: #9512d1;
  --dark-color: color-mix(in srgb, var(--color), black 20%);
  --gradient-color: linear-gradient(var(--dark-color), var(--color));
  --darker-gradient: linear-gradient(to bottom, rgba(42, 26, 163, 0.4), #0008);
  --border-color: var(--dark-color);

  padding: 1rem 1rem;
  margin: 0.5rem;
  border: 0;

  font-family: Montserrat, sans-serif;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.467);
  font-size: 1rem;
  color: #eee;

  background: var(--gradient-color);
  box-shadow:
    0 7px 0 var(--border-color),
    0 8px 3px #0004;
  transition: transform 0.25s, box-shadow 0.25s;

  & svg {
    --size: 24px;

    margin-right: 0.5rem;
    width: var(--size);
    height: var(--size);

    button:not([disabled]):active & path {
      --fill: #888;
    }
  }


    border-radius: 10px;
  

  &:active:not([disabled]) {
    --fill: #888;

    color: #888;
    background: var(--darker-gradient), var(--gradient-color);
    box-shadow: 0 2px 0 var(--border-color), 0 3px 3px #0000004d;
    transform: translateY(5px);
  }

  &[disabled] {
    filter: grayscale(1);
    cursor: not-allowed;
  }
}

}